@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.frost-modal-dialog {
  &.ember-remodal.window {
    position: relative;
    width: 510px;
    box-shadow: 0px 0px 20px rgba($frost-color-grey-1, 0.5);
    background-color: rgba($frost-color-white, 1);
  }

  .ember-remodal {
    &.yielded {
      &.content {
        display: flex;
        flex-direction: column;

        .header {
          display: flex;
          align-items: flex-start;
          color: $frost-color-grey-2;
          font-size: $frost-font-l;
        }

        .body {
          display: flex;
          align-items: center;
          padding: 40px 40px 0px 0px;
          color: $frost-color-grey-4;
          font-size: $frost-font-m;
        }

        .icon {
          margin-right: 40px;
          width: 80px;
          height: 80px;
        }

        .footer {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-top: 20px;
          z-index: 999;

          > .frost-button {
            width: 150px;
            margin-right: 10px;
          }
        }
      }
    }
  }

}
